<div class='row' align="center">
<h1>Contato</h1>
<hr>
</div>

<div class='row mt-3'>
  <div class="col-md-1"></div>

  <div class="col-md-10">

      <div class="card">
        <div class="card-header">
          Formulário
        </div>
        <div class="card-body">
          <h5 class="card-title">Escreva aqui sua mensagem</h5>
          <p class="card-text">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">Nome</span>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">E-mail</span>
              <input type="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
              <span class="input-group-text">Mensagem</span>
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          </p>
          <button class="btn btn-primary">Enviar mensagem</button>
        </div>
      </div>
    </div>

  <div class="col-md-1"></div>
</div>
