<div class='row'>
  <h3>Visão Geral</h3>
</div>

<div class='row mt-3'>
  <div class='col-md-3'>
    <div class='card mb-3 border-success' style='max-width: 18rem;'>
      <div class='card-header'>Entradas</div>
      <div class='card-body'>
        <h5 class='card-title'>R$ 522,35</h5>
      </div>
    </div>
    <div class='card mb-3 border-danger' style='max-width: 18rem;'>
      <div class='card-header'>Saídas</div>
      <div class='card-body'>
        <h5 class='card-title'>R$ 522,35</h5>
      </div>
    </div>
    <div class='card mb-3 border-primary' style='max-width: 18rem;'>
      <div class='card-header'>Total</div>
      <div class='card-body'>
        <h5 class='card-title'>R$ 522,35</h5>
      </div>
    </div>
  </div>
  <div class='col-md-1'></div>
  <div class='col-md-8'>
    <div class='card'>
      <div class='card-body'>
        <h4>Tabela de gastos</h4>
        <table class='table table-bordered'>

          <thead>
            <tr>
              <th scope='col'>#</th>
              <th scope='col'>Título</th>
              <th scope='col'>Valor</th>
              <th scope='col'>Categoria</th>
              <th scope='col'>Data e hora</th>
            </tr>
          </thead>
          <tbody>
            <tr class='row-profit'>
              <th scope='row'>1</th>
              <td>Venda de doces</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
            <tr class='row-expense'>
              <th scope='row'>2</th>
              <td>Compra de ingredientes</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
            <tr class='row-profit'>
              <th scope='row'>3</th>
              <td>Venda de doces</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
            <tr class='row-profit'>
              <th scope='row'>4</th>
              <td>Venda de doces</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
            <tr class='row-expense'>
              <th scope='row'>5</th>
              <td>Compra de ingredientes</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
            <tr class='row-profit'>
              <th scope='row'>6</th>
              <td>Venda de doces</td>
              <td>R$ 320,00</td>
              <td>Comidas</td>
              <td>08/01/2022 15h30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>