<div class='row' align="center">
  <h1>Sobre</h1>
  <hr>
</div>

<div class='row mt-3'>
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="card mb-3" style="max-width: 840px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="perfil.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Leonardo Galbiere Arruda</h5>
            <p class="card-text">
            <p><strong>E-mail: </strong>leonardo.arruda@alunos.ifsuldeminas.edu.br</p>
            <p><strong>Telefone: </strong>(35) 98822-8198</p>
            <p>
              Instituto Federal de Educação, Ciência e Tecnologia do Sul de Minas - Campus Poços de Caldas
            </p>
            <p>
              <strong>Curso:</strong> Engenharia de Computação - <strong>Período:</strong> 8º Período
              <br>
              <strong>RA: </strong> 201811020036
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class='row mt-3'>
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="card mb-3" style="max-width: 840px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="perfilVini.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Vinicius Carneiro Charleaux</h5>
            <p class="card-text">
            <p><strong>E-mail: </strong>vinicius.charleaux@alunos.ifsuldeminas.edu.br</p>
            <p><strong>Telefone: </strong>(35) 98894-4987</p>
            <p>
              Instituto Federal de Educação, Ciência e Tecnologia do Sul de Minas - Campus Poços de Caldas
            </p>
            <p>
              <strong>Curso:</strong> Engenharia de Computação - <strong>Período:</strong> 8º Período
              <br>
              <strong>RA: </strong> 201811020043
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>

<div class='row mt-3'>
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <hr>
  </div>
  <div class="col-md-1"></div>
</div>